@using EdicoesEmMassa.Model
@model List<IncubadoraTemperaturaModel>
@{
    ViewData["Title"] = "Cadastro de Incubadoras";
}
<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <tbody>
    <div class="row">
        
        @if(Model != null && Model.Any())
        {
            foreach(var temperatura in Model)
            {
                    var color = "";
                    var tempAtual = temperatura.temperatura.temperatura_atual;
                    var maxTempOk = temperatura.incubadora.temperatura_fixada + 0.6;
                    var minTempOk = temperatura.incubadora.temperatura_fixada - 0.6;
                    var maxTemp = temperatura.incubadora.temperatura_fixada + 1;
                    var minTemp = temperatura.incubadora.temperatura_fixada - 1;
                    if(tempAtual >= minTempOk && tempAtual <= maxTempOk)
                    {
                        color = "bg-success";
                    }
                    else if(tempAtual >= minTemp && tempAtual <= maxTemp)
                    {
                        color = "bg-warning";
                    }
                    else
                    {
                        color = "bg-danger";
                    }
                    
                    

                    <div class="card col-sm-3 @color">
                        <div class="card-body">
                        <h5 class="card-title">@temperatura.temperatura.temperatura_atual ºc</h5>
                        <p class="card-text">Temperatura Ideal: @temperatura.incubadora.temperatura_fixada ºc</p>
                        <p class="card-text">Incubadora código: @temperatura.incubadora.cod_incubadora</p>
                        <a role="button" class="btn btn-primary" asp-route-id="@temperatura.incubadora.id_incubadora" asp-controller="Incubadora" asp-action="Update">Editar Incubadora</a>
                    </div>
                </div>
            }
        }

        
    </tbody>
    </div>
</div>



