@using EdicoesEmMassa.Model
@model List<IncubadoraTemperatura>
@{
    ViewData["Title"] = "Cadastro de Incubadoras";
}
<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <tbody>
    <div class="row">
        
        @if(Model != null && Model.Any())
        {
            foreach(var Temperatura in Model)
            {
                    var color = "";
                    var tempAtual = Temperatura.Temperatura.temperatura_atual;
                    var maxTempOk = Temperatura.Incubadora.temperatura_fixada + 0.6;
                    var minTempOk = Temperatura.Incubadora.temperatura_fixada - 0.6;
                    var maxTemp = Temperatura.Incubadora.temperatura_fixada + 1;
                    var minTemp = Temperatura.Incubadora.temperatura_fixada - 1;
                    if(tempAtual >= minTempOk && tempAtual <= maxTempOk)
                    {
                        color = "bg-success";
                    }
                    else if(tempAtual >= minTemp && tempAtual <= maxTemp)
                    {
                        color = "bg-warning";
                    }
                    else
                    {
                        color = "bg-danger";
                    }
                    
                    

                    <div class="card col-sm-3 @color">
                        <div class="card-body">
                        <h5 class="card-title">@Temperatura.Temperatura.temperatura_atual ºc</h5>
                        <p class="card-text">Temperatura Ideal: @Temperatura.Incubadora.temperatura_fixada ºc</p>
                        <p class="card-text">Incubadora código: @Temperatura.Incubadora.cod_incubadora</p>
                        <a role="button" class="btn btn-primary" asp-route-id="@Temperatura.Incubadora.id_incubadora" asp-controller="Incubadora" asp-action="Update">Editar Incubadora</a>
                    </div>
                </div>
            }
        }

        
    </tbody>
    </div>
</div>



