@using EdicoesEmMassa.Model
@model List<IncubadoraModel>
@{
    ViewData["Title"] = "Cadastro de Incubadoras";
}
<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Incubadora" asp-action="Creating">Adicionar Incubadora</a>
    </div>
    <br />

    <h1 class="display-4">Listagem de Incubadoras</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id Incubadora</th>
          <th scope="col">Código Incubadora</th>
          <th scope="col">Temperatura Atual Fixada</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(var incubadora in Model)
                {
                    <tr>
                      <th scope="row">@incubadora.id_incubadora</th>
                      <td>@incubadora.cod_incubadora</td>
                      <td>@incubadora.temperatura_fixada</td>
                      <td>
                        <div class="btn-group" role="group">
                          <a role="button" class="btn btn-primary" asp-route-id="@incubadora.id_incubadora" asp-controller="Incubadora" asp-action="Update">Editar</a>
                          <a role="button" class="btn btn-danger" asp-route-id="@incubadora.id_incubadora" asp-controller="Incubadora" asp-action="ConfirmDelete">Deletar</a>
                        </div>
                      </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



